{% extends 'base.html' %}
{% load static %}
{% block body_block %}


    <!-- jQuery custom content scroller -->

    <!-- bootstrap-daterangepicker -->

    <!-- iCheck -->
    <!-- jQuery custom content scroller -->
    <!-- bootstrap-daterangepicker -->
    <!-- Datatables -->
    <!-- bootstrap-daterangepicker -->



<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><img src="{% static 'images/logo-small.png' %}" alt=""></a>
          </div>
          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_info">
              <a href="#" class="profile-logo"><img src="{% static 'images/CBM-logo-side.png' %}" alt=""></a>
              <div class="profile-name">
                <h2>CBM Pte Ltd</h2>
                <p>cbm@gmail.com</p>
              </div>
            </div>
          </div>
          <!-- /menu profile quick info -->
          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
                <li><a>Dashboard</a> </li>
                <li><a href="{% url 'work' %}">Add Worksite </a></li>
                <li><a>Route Listing </a></li>
                <li><a>User Management <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'dash' %}">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                  </ul>
                </li>
                <li><a>Reporting <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="#">Incident Reports</a></li>
                    <li><a href="#">Patrol Reports</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
        </div>
      </div>
      <!-- page content -->
      <div class="right_col" role="main">
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <div class="page-title">
                <div class="row">
                  <div class="col-md-6">
                    <h2>Dashboard</h2>
                  </div>
                  <div class="col-md-6 search-action">
                    <img src="{% static 'images/CBM_logo-top.png' %}">
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <div class="wrapper">
          <div class="dashboard">
            <div class="row">
              <div class="col-md-3 dash-datetime">
                <label>Date <i class="fa fa-calendar"></i></label>
                <p>29-Apr-2019</p>
              </div>
              <div class="col-md-3 dash-datetime">
                <label>Day <i class="fa fa-sun-o"></i></label>
                <p>Wednesday</p>
              </div>
              <div class="col-md-3 dash-datetime">
                <label>Time <i class="fa fa-clock-o"></i></label>
                <p>07:30 PM</p>
              </div>
            </div>
            <div class="row" id="dragAnwr">
              {% for x in range %}
              <div class="col-md-3"  draggable="true">
                <div class="dash-data green">
                  <span>1/4<br><small>Attendance</small></span>
                  <h2>CBM</h2>
                  <div class="details-dash">
                    <div class="row">
                      <div class="col-md-6">Incidents</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Irregular Patrols</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Monthly
                        Supervisory Check</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- <div class="col-md-3">
                <div class="dash-data red">
                  <span>1/4<br><small>Attendance</small></span>
                  <h2>Certis</h2>
                  <div class="details-dash">
                    <div class="row">
                      <div class="col-md-6">Incidents</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Irregular Patrols</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Monthly
                        Supervisory Check</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="dash-data green">
                  <span>1/4<br><small>Attendance</small></span>
                  <h2>Gilb Ltd</h2>
                  <div class="details-dash">
                    <div class="row">
                      <div class="col-md-6">Incidents</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Irregular Patrols</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Monthly
                        Supervisory Check</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="dash-data purple">
                  <span>1/4<br><small>Attendance</small></span>
                  <h2>Lou Pte Ltd</h2>
                  <div class="details-dash">
                    <div class="row">
                      <div class="col-md-6">Incidents</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Irregular Patrols</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Monthly
                        Supervisory Check</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="dash-data green">
                  <span>1/4<br><small>Attendance</small></span>
                  <h2>MyGPS</h2>
                  <div class="details-dash">
                    <div class="row">
                      <div class="col-md-6">Incidents</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Irregular Patrols</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Monthly
                        Supervisory Check</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="dash-data purple">
                  <span>1/4<br><small>Attendance</small></span>
                  <h2>MyGPS</h2>
                  <div class="details-dash">
                    <div class="row">
                      <div class="col-md-6">Incidents</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Irregular Patrols</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">Monthly
                        Supervisory Check</div>
                      <div class="col-md-6 text-right"><strong>8</strong></div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>
  {% endblock %}
  {% block script %}
    <script src='{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}'></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!-- < script >
  $(document).ready(function() {
    $('#myTable').DataTable();
  });
</script> -->
<script type="text/javascript">
  // $( function() {
  //   $( "#dragAnwr" ).draggable();
  // } );
  // $( "#dragAnwr" ).draggable();

  // $( ".dropbox" ).droppable({
    // drop: function( event, ui ) {
      // remove flag class
      // $(this).siblings().removeClass('selected');
      // add class to the dropped element
      // $(this).addClass('selected');
    // },
    // hoverClass: "drop-hover"
  // });
  $("#dragAnwr").sortable({

  // axis: "y",
  // axis:"x",
  revert: true,
  // scroll: true,
  // placeholder: "sortable-placeholder",
  cursor: "move"

});
</script>

</body>

{% endblock %}
